#server:
#  port: 8080
#
#spring:
#  main:
#    web-application-type: reactive
#  cloud:
#    gateway:
#      routes:
#        - id: auth-service
#          uri: http://auth-service:8081
#          predicates:
#            - Path=/api/auth/**
#
#        - id: product-service
#          uri: http://product-service:8082
#          predicates:
#            - Path=/api/product/**
#          filters:
#            - AuthenticationFilter
#
#        - id: resource-service
#          uri: http://resource-service:8083
#          predicates:
#            - Path=/resource/**
#
#    compatibility-verifier:
#      enabled: false
#
#  application:
#    name: API-GATEWAY
#
#eureka:
#  client:
#    registerWithEureka: false
#    fetch-registry: false
#    service-url:
#      defaultZone: http://localhost:8761/eureka/