#server:
#  port: 8080

spring:
  main:
    web-application-type: reactive
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**

        - id: product-service
          uri: http://localhost:8082
          predicates:
            - Path=/product/**
          filters:
            - AuthenticationFilter

    compatibility-verifier:
      enabled: false

  application:
    name: API-GATEWAY

eureka:
  client:
    registerWithEureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://localhost:8761/eureka/