server:
  port: 8081
spring:
  application:
    name: AUTH-SERVICE
  datasource:
    url: jdbc:mysql://localhost:3306/auth-service
    username: root
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

  kafka:
#    producer:
#      key-serializer: org.apache.kafka.common.serialization.StringSerializer
#      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      auto-offset-reset: earliest
  cloud:
    function:
      definition: fileProcess
    stream:
      bindings:
        fileProcess-in-0:
          destination: file-response
          content-type: application/json
#        testHandler-in-0:
#          destination: file-topic-after
      kafka:
        binder:
          brokers: localhost:9092

    compatibility-verifier:
      enabled: false

  data:
    redis:
      host: localhost
      port: 6379
      database: 0

  servlet:
    multipart:
      max-file-size: 3MB
      max-request-size: 5MB

eureka:
  client:
    registerWithEureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://localhost:8761/eureka/