server:
  port: 8082

eureka:
  client:
    serviceUrl:
      defaultZone: http://${EUREKA_CLIENT_HOST}:${EUREKA_CLIENT_PORT}/eureka/

spring:
  application:
    name: PRODUCT-SERVICE
  data:
    mongodb:
      uri: mongodb://${DB_HOST}:${DB_PORT}/${DB_NAME}

  kafka:
    consumer:
      auto-offset-reset: earliest
  cloud:
    function:
      definition: productImageProcess
    stream:
      bindings:
        productImageProcess-in-0:
          destination: product-image-response
          content-type: application/json
      kafka:
        binder:
          brokers: ${KAFKA_HOST}:${KAFKA_PORT}

    compatibility-verifier:
      enabled: false