server:
  port: 8082
spring:
  application:
    name: PRODUCT-SERVICE
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: ${DDL_AUTO}
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  kafka:
    consumer:
      auto-offset-reset: earliest
    cloud:
      function:
        definition: productImageProcess
      stream:
        bindings:
          productImageProcess-in-0:
            destination: product-image-response
            content-type: application/json
        kafka:
          binder:
            brokers: ${KAFKA_HOST}:${KAFKA_PORT}

      compatibility-verifier:
        enabled: false